* {
  font-family: "Roboto";
}

.header__explore {
  background-color: #f6f6f6;
}
.header__explore h1 {
  font-size: xx-large;
}
.header__explore p {
  font-size: larger;
  font-weight: 300;
  color: #6b6b6b;
}

.header__btn-explore {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.fonctionnement__title {
  font-size: x-large;
}
.fonctionnement__etapes .fonctionnement__etape {
  background-color: #f6f6f6;
  font-weight: 500;
}
.fonctionnement__etapes .fonctionnement__etape:hover {
  background-color: #f2eafb;
  color: black;
}
.fonctionnement__etapes .fonctionnement__etape:hover i {
  color: #9356DC;
}
.fonctionnement__etapes .fonctionnement__etape i {
  color: grey;
  font-size: large;
}
.fonctionnement__etapes .fonctionnement__etape-numero {
  font-size: medium;
  color: white;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants__title {
  font-size: x-large;
}
.restaurants__cards-block a:hover {
  color: black;
}
.restaurants__card {
  background-color: white;
  text-decoration: none;
}
.restaurants__card:visited {
  color: black;
}
.restaurants__new {
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
}
.restaurants__card-body .restaurants__card-text {
  line-height: 5px;
  color: black;
}
.restaurants__card-body .restaurants__card-text p {
  font-weight: 300;
}

.footer {
  background-color: #353535;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: xx-large;
}
.footer ul {
  color: white;
  list-style-type: none;
  font-size: large;
}
.footer ul li {
  line-height: 30px;
  font-size: 14px;
}
.footer ul li i {
  font-size: 12px;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}

.container__menu .menu {
  background-color: #f6f6f6;
}
.container__menu .menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.5em;
}
.container__menu .menu__title h2 {
  font-weight: 350;
  color: black;
  font-size: larger;
}
.container__menu .menu__cards-block .menu__card {
  background-color: white;
}
.container__menu .menu__cards-block .menu__card h3 {
  font-size: larger;
  margin-top: 8px;
}
.container__menu .menu__cards-block .menu__card p {
  font-size: medium;
  font-weight: 300;
}
.container__menu .menu__cards-block .menu__card span {
  font-weight: bold;
}
.container__menu .menu__btn-order span {
  color: white;
  font-weight: 500;
  font-size: larger;
}

@media screen and (max-width: 767px) {
  .header__explore h1 {
    font-size: x-large;
  }
  .header__explore .header__btn-explore span {
    font-size: medium;
  }

  .fonctionnement__title {
    font-size: x-large;
  }

  .restaurants__title {
    font-size: x-large;
  }

  .footer h3 {
    font-size: 120%;
  }
  .footer h3 ul li {
    font-size: smaller;
  }

  .header__btn-home {
    font-size: larger;
  }

  .container__menu .menu h1 {
    font-size: 1.7em;
  }
  .container__menu .menu h2 {
    font-size: large;
    font-weight: 350;
  }
  .container__menu .menu__cards-block .menu__card h3 {
    font-size: 105%;
  }
  .container__menu .menu__cards-block .menu__card p {
    font-size: 92%;
    font-weight: 300;
  }
  .container__menu .menu__cards-block .menu__card p span {
    font-weight: bold;
  }
  .container__menu .menu__btn-order span {
    font-weight: 500;
    font-size: large;
  }
}
.restaurants__card-heart .empty {
  color: black;
  position: relative;
  font-size: x-large;
  right: 30px;
  opacity: 1;
}
.restaurants__card-heart .empty:hover .full {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  transform: scale(1.1);
}
.restaurants__card-heart .full {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 500ms ease-out;
}

.menu__heart .empty {
  color: black;
  position: relative;
  font-size: x-large;
  opacity: 1;
  cursor: pointer;
}
.menu__heart .empty:hover .full {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  transform: scale(1.1);
}
.menu__heart .full {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 500ms ease-out;
}

.header__btn-explore {
  border: solid 1px rgb(174, 172, 172);
  border-radius: 28px;
  width: 240px;
  height: 55px;
  box-shadow: 0px 2px 8px #a9a6a6;
  cursor: pointer;
}
.header__btn-explore:hover {
  background-image: linear-gradient(to bottom, #ff93e1, #a16be0);
  transform: scale(1.05);
  text-size-adjust: auto;
  transition: 0.3s;
  box-shadow: 0px 2px 8px #848282;
}
.header__btn-explore span {
  color: white;
  font-weight: 500;
  font-size: large;
}

.header__btn-home {
  color: #353535;
  font-size: x-large;
  text-decoration: none;
  position: absolute;
  top: 40px;
  left: 150px;
}

.menu__btn-order {
  border: solid 1px rgb(174, 172, 172);
  border-radius: 28px;
  width: 210px;
  height: 60px;
  box-shadow: 0px 2px 8px #a09e9e;
  margin-top: 40px;
  margin-bottom: -20px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  cursor: pointer;
}
.menu__btn-order:hover {
  background-image: linear-gradient(to bottom, #ff93e1, #a16be0);
  transform: scale(1.05);
  text-size-adjust: auto;
  transition: 0.3s;
  box-shadow: 0px 2px 8px #848282;
}

@media (max-width: 767px) {
  .menu__btn-order {
    width: 180px;
    height: 45px;
    margin-left: 90px;
  }

  .header__btn-home {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
.site {
  animation: site-appear 5550ms forwards;
}

@keyframes site-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loading-spinner {
  animation: loading-disappear 5550ms forwards;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.loading-spinner .dot {
  background: black;
  border-radius: 100%;
  color: white;
  height: 14px;
  line-height: 14px;
  text-align: center;
  width: 14px;
  transition: ease-out 10000ms;
}
.loading-spinner .dot-one {
  -webkit-animation: dotOneKeyframes 5s ease infinite;
  background: #9356DC;
  position: absolute;
  top: 0;
  left: 0;
}
.loading-spinner .dot-two {
  -webkit-animation: dotTwoKeyframes 5s ease 0.4166666667s infinite;
  background: #FF79DA;
  position: absolute;
  top: 0;
  left: 14px;
}
.loading-spinner .dot-three {
  -webkit-animation: dotThreeKeyframes 5s ease 0.8333333333s infinite;
  background: #99E2D0;
  position: absolute;
  top: 14px;
  left: 14px;
}
.loading-spinner .website-title {
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 300%;
  position: absolute;
  bottom: 30px;
  left: -120px;
}

@-webkit-keyframes dotOneKeyframes {
  0% {
    top: 0;
    left: 0;
  }
  8.3333333333% {
    top: 14px;
    left: 0;
  }
  25% {
    top: 14px;
    left: 0;
  }
  33.3333333333% {
    top: 14px;
    left: 14px;
  }
  50% {
    top: 14px;
    left: 14px;
  }
  58.3333333333% {
    top: 0;
    left: 14px;
  }
  75% {
    top: 0;
    left: 14px;
  }
  83.3333333333% {
    top: 0;
    left: 0;
  }
}
@-webkit-keyframes dotTwoKeyframes {
  0% {
    top: 0;
    left: 14px;
  }
  8.3333333333% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 0;
  }
  33.3333333333% {
    top: 14px;
    left: 0;
  }
  50% {
    top: 14px;
    left: 0;
  }
  58.3333333333% {
    top: 14px;
    left: 14px;
  }
  75% {
    top: 14px;
    left: 14px;
  }
  83.3333333333% {
    top: 0;
    left: 14px;
  }
}
@-webkit-keyframes dotThreeKeyframes {
  0% {
    top: 14px;
    left: 14px;
  }
  8.3333333333% {
    top: 0;
    left: 14px;
  }
  25% {
    top: 0;
    left: 14px;
  }
  33.3333333333% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 0;
  }
  58.3333333333% {
    top: 14px;
    left: 0;
  }
  75% {
    top: 14px;
    left: 0;
  }
  83.3333333333% {
    top: 14px;
    left: 14px;
  }
}
@keyframes loading-disappear {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.header__logo {
  display: flex;
  width: 100%;
  border: solid 5px white;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0px 4px 10px #d2d2d2;
  padding-bottom: 15px;
  padding-top: 25px;
}
.header__logo img {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header img {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .header__logo img {
    width: 200px;
  }
}
.header__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 4px;
  background-color: #eaeaea;
  height: 100px;
}
.header__form .fa-map-marker-alt {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid 1px white;
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40px;
  height: 29px;
  padding-top: 15px;
  font-size: large;
}
.header__form input {
  border: solid 1px white;
  background-color: white;
  font-size: x-large;
  font-weight: 500;
  width: 200px;
  height: 45px;
  margin-left: -10px;
}
.header__form .header__form-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid 1px white;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 50px;
  height: 45px;
  margin-left: -10px;
  padding-top: 13px;
  font-size: large;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header__form {
    height: 50px;
    border: none;
    background-color: #eaeaea;
  }
  .header__form .fa-map-marker-alt {
    border: none;
    background-color: #eaeaea;
    font-size: medium;
  }
  .header__form input {
    width: 170px;
    border: none;
    background-color: #eaeaea;
    font-size: large;
  }
  .header__form .header__form-btn {
    display: none;
    border: none;
    background-color: #eaeaea;
  }
}
.footer {
  border: solid 1px #353535;
  padding-bottom: 30px;
}
.footer h3 {
  padding-top: 10px;
  text-align: center;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .footer h3 {
    text-align: left;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
.header__explore {
  padding-top: 30px;
  padding-bottom: 55px;
  text-align: center;
}
.header__explore h1 {
  margin-right: 50px;
  margin-left: 50px;
}
.header__explore p {
  padding-bottom: 20px;
}

.fonctionnement {
  padding-bottom: 40px;
}
.fonctionnement__title {
  margin-left: 30px;
  font-size: x-large;
  padding-bottom: 15px;
  padding-top: 20px;
}
.fonctionnement__etapes {
  display: flex;
  flex-direction: row;
}
.fonctionnement__etapes .fonctionnement__etape {
  display: flex;
  flex-direction: row;
  border: solid 1px #f6f6f6;
  border-radius: 20px;
  box-shadow: 1px 2px 15px #d2d2d2;
  align-items: center;
  gap: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 20%;
  height: 40px;
  margin: 0 auto 15px auto;
}
.fonctionnement__etapes .fonctionnement__etape-numero {
  border: solid 1px #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  height: 23px;
  width: 26px;
  padding-top: 2px;
  font-size: medium;
  text-align: center;
  color: white;
  margin-left: -10px;
}

.restaurants {
  border: solid 1px #f6f6f6;
  padding-top: 25px;
  padding-bottom: 70px;
}
.restaurants__title {
  margin-left: 30px;
}
.restaurants__cards-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 60px;
}
.restaurants__cards-block a:hover {
  transform: scale(1.04);
  text-size-adjust: auto;
  transition: 0.3s;
}
.restaurants__card {
  display: block;
  width: 325px;
  box-shadow: 1px 0px 10px 5px #DCDCDC;
  border-radius: 20px;
  padding-bottom: 5px;
  position: relative;
}
.restaurants__card img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurants__new {
  border: solid 1px #99E2D0;
  border-radius: 3px;
  width: 75px;
  height: 23px;
  position: absolute;
  top: 14px;
  right: 14px;
  padding-top: 5px;
  padding-left: 10px;
}
.restaurants__card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants__card-text {
  margin-left: 15px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__etapes {
    display: flex;
    flex-direction: column;
  }
  .fonctionnement__etapes .fonctionnement__etape {
    width: 40%;
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 767px) {
  .fonctionnement__title {
    margin-left: 25px;
  }
  .fonctionnement__etapes {
    display: flex;
    flex-direction: column;
  }
  .fonctionnement__etapes .fonctionnement__etape {
    width: 85%;
    margin: 0 auto 30px auto;
  }

  .restaurants__title {
    margin-left: 25px;
  }
  .restaurants__cards-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 25px;
    margin: 0 auto;
  }
  .restaurants__cards-block__card {
    display: block;
    width: 325px;
  }
  .restaurants__cards-block__card__card img {
    width: 100%;
    height: 175px;
  }

  .footer h3 {
    text-align: left;
    padding-left: 35px;
  }
  .footer h3 ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer h3 ul li i {
    margin-left: 2px;
  }
}
.container__menu img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  z-index: -10;
  position: relative;
}
.container__menu .menu {
  border: solid 1px #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -40px;
  padding-bottom: 100px;
}
.container__menu .menu__main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.container__menu .menu h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container__menu .menu__entrees {
  animation: menu-block 2000ms;
}
.container__menu .menu__plats {
  animation: menu-block 3000ms;
}
.container__menu .menu__desserts {
  animation: menu-block 4000ms;
}
.container__menu .menu__title {
  width: 40%;
  margin: 0 auto;
}
.container__menu .menu__title h2 {
  border: solid 4px #99E2D0;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 8%;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.container__menu .menu__cards-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 25px;
  width: 40%;
  margin: 0 auto;
}
.container__menu .menu__cards-block .menu__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 10px 2px #DCDCDC;
  border-radius: 20px;
  padding-left: 14px;
  cursor: pointer;
  position: relative;
}
.container__menu .menu__cards-block .menu__card .menu__card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.container__menu .menu__cards-block .menu__card .menu__card-text p span {
  position: absolute;
  right: 30px;
}
.container__menu .menu__cards-block .menu__card .check {
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99E2D0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  font-size: xx-large;
}
.container__menu .menu__cards-block .menu__card .check i {
  opacity: 0;
}
.container__menu .menu__cards-block .menu__card:hover .menu__card-text {
  width: 50%;
}
.container__menu .menu__cards-block .menu__card:hover p span {
  position: absolute;
  right: 140px;
  transition: 400ms ease-in;
}
.container__menu .menu__cards-block .menu__card:hover .check {
  width: 20%;
  transition: 400ms ease-in;
}
.container__menu .menu__cards-block .menu__card:hover .check i {
  opacity: 1;
  animation: spin 0.4s linear;
}

@keyframes menu-block {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container__menu .menu__title {
    width: 70%;
  }
  .container__menu .menu__cards-block {
    width: 70%;
  }
  .container__menu .menu__btn-order {
    left: 300px;
  }
}
@media (max-width: 767px) {
  .container__menu .menu__main-title {
    gap: 35px;
  }
  .container__menu .menu h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
  .container__menu .menu h2 {
    width: 30%;
    padding-bottom: 5px;
    margin-left: -95px;
  }
  .container__menu .menu__cards-block {
    padding-bottom: 25px;
    width: 100%;
  }
  .container__menu .menu__cards-block .menu__card {
    width: 90%;
    height: 65px;
    margin: 0 auto;
  }
  .container__menu .menu__cards-block .menu__card .menu__card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .container__menu .menu__cards-block .menu__card .menu__card-text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}

/*# sourceMappingURL=style.css.map */
