@import "./utils/variable";
@import "./utils/mixins";

* {
    font-family: 'Roboto';
}

.header__logo {
    display: flex;
    width: 100%;
    border: solid, 5px, white;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 4px 10px #d2d2d2;
    padding-bottom: 15px;
    padding-top: 25px;
        img {
            width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
        
}

.header__btn-home {
    color: #353535;
    font-size: x-large;
    text-decoration: none;
    position: absolute;
    top: 40px;
    left: 150px;
}

.header__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 4px;
    background-color: #eaeaea;
    height: 100px;
        .fa-map-marker-alt {
            display: flex;
            justify-content: center;
            text-align: center;
            border: solid 1px white;
            background-color: white;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            width: 40px;
            height: 29px;
            padding-top: 15px;
            font-size: large;
        }
        input {
            border: solid 1px white;
            background-color: white;
            font-size: x-large;
            font-weight: 500;
            width: 200px;
            height: 45px;
            margin-left: -10px;
        }
        .header__form-btn{
            display: flex;
            justify-content: center;
            text-align: center;
            border: solid 1px white;
            background-color: white;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 50px;
            height: 45px;
            margin-left: -10px;
            padding-top: 13px;
            font-size: large;
            cursor: pointer;
        }
}

.header__explore {
    background-color: $light-grey;
    padding-top: 30px;
    padding-bottom: 55px;
    text-align: center;
        h1 {
            font-size: xx-large;
            margin-right: 50px;
            margin-left: 50px;
        }
        p {
            font-size: larger;
            font-weight: 300;
            color: #6b6b6b;
            padding-bottom: 20px;
        }
        .header__btn-explore {
            @include btn-gradient;
            border: solid 1px rgb(174, 172, 172);
            border-radius: 28px;
            width: 240px;
            height: 55px;
            box-shadow: 0px 2px 8px #a9a6a6;
            cursor: pointer;
                &:hover {
                    transform:scale(1.05);
                    text-size-adjust: auto;
                    transition: 0.3s;
                }
                span {
                    color: white;
                    font-weight: 500;
                    font-size: large;
                }
        }
}
  
.fonctionnement {
    padding-bottom: 40px;
        &__title {
            margin-left: 30px;
            font-size: x-large;
            padding-bottom: 15px;
            padding-top: 20px;
        }
        &__etapes {
            display: flex;
            flex-direction: row;
                .fonctionnement__etape {
                    display: flex;
                    flex-direction: row;
                    border: solid 1px $light-grey;
                    border-radius: 20px;
                    box-shadow: 1px 2px 15px #d2d2d2;
                    background-color: $light-grey;
                    align-items: center;
                    gap: 25px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    width: 20%;
                    height: 40px;
                    margin: 0 auto 15px auto;
                    font-weight: 500;
                        &:hover {
                            background-color: lighten($colour-primary,35);
                            border: lighten($colour-primary,35);
                            color: black;
                        }
                        i {
                            color: grey;
                            font-size: large;
                        }
                        i:hover {
                            color: $colour-primary;
                        }
                }
                .fonctionnement__etape-numero {
                    border: solid 1px $colour-primary;
                    border-radius: 50%;
                    background-color: $colour-primary;
                    height: 23px;
                    width: 26px;
                    padding-top: 2px;
                    font-size: medium;
                    text-align: center;
                    color: white;
                    margin-left: -10px;
                }
        }
}

.restaurants {
    border: solid 1px #f6f6f6;
    background-color: #f6f6f6;
    padding-top: 25px;
    padding-bottom: 70px;
        &__title {
            margin-left: 30px;
            font-size: x-large;
        }
        &__cards-block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
            margin-left: 60px;
        }
        &__cards-block a:hover {
            transform:scale(1.04);
            text-size-adjust: auto;
            transition: 0.3s;
        }
            &__card {
                display: block;
                width: 325px;
                box-shadow: 1px 0px 10px 5px #DCDCDC;
                border-radius: 20px;
                background-color: white;
                text-decoration: none;
                padding-bottom: 5px;
                position: relative;
            }  
            &__card img {
                width: 100%;
                height: 175px;
                border-radius: 20px 20px 0px 0px;
                object-fit: cover;
            }
            &__new {
                border: solid 1px $colour-tertiary;
                background-color: $colour-tertiary;
                border-radius: 3px;
                width: 75px;
                height: 23px;
                position: absolute;
                top: 14px;
                right: 14px;
                padding-top: 5px;
                padding-left: 10px;
                color: darken($colour-tertiary, 40%);
                font-weight: 500;
            }
            
                &__card-text {
                    margin-left: 15px;
                    line-height: 5px;
                    color: black;
                        p {
                            font-weight: 300;
                        }
                }
}

.footer {
    border: solid 1px #353535;
    background-color: #353535;
    padding-bottom: 30px;
        & h3 {
        padding-top: 10px;
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: xx-large;
        text-align: center;
        }
            & ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 50px;
                color: white;
                list-style-type: none;
                font-size: large;
                li {
                    line-height: 30px;
                    font-size: 14px;
                    i {
                        font-size: 12px;
                    }
                }
            }    
}


// Menus



.container__menu {
    img {
        width: 100%;
        height: 360px;
        object-fit: cover;
        z-index: -10;
        position: relative;
    } 
    .menu { 
        border: solid 1px $light-grey;
        background-color: $light-grey;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        margin-top: -40px;
        padding-bottom: 100px;
        & h1 {
            font-family: 'Shrikhand', cursive;
            font-size: 2.5em;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__title {
            width: 40%;
            margin: 0 auto;
                h2 {
                    font-weight: 350;
                    border: solid 4px $colour-tertiary;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    width: 8%;
                    padding-bottom: 5px;
                    margin-bottom: 20px;
                    color: black;
                    font-size: larger;
                }
        }
        &__cards-block {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding-bottom: 25px;
            width: 40%;
            margin: 0 auto;
                .menu__card {
                    display: block;
                    width: 100%;
                    height: 80px;
                    box-shadow: 0px 0px 10px 2px #DCDCDC;
                    border-radius: 20px;
                    background-color: white;
                    padding-left: 14px;
                    padding-top: 5px;
                    line-height: 8px;
                    position: relative;
                        h3 {
                            font-size: larger;
                        }
                            p {
                                font-size: medium;
                                font-weight: 300;
                                word-break: break-all;
                                text-overflow: ellipsis;
                            }
                                span {
                                    font-weight: bold;
                                    position: absolute;
                                    right: 25px;
                                }
                }
        }
        &__btn-order {
            @include btn-gradient;
            border: solid 1px rgb(174, 172, 172);
            border-radius: 28px;
            width: 210px;
            height: 60px;
            box-shadow: 0px 2px 8px #a09e9e;
            margin-top: 40px;
            cursor: pointer;
            position: relative;
            left: 650px;
                &:hover {
                    transform:scale(1.05);
                    text-size-adjust: auto;
                    transition: 0.3s;
                }
                span {
                    color: white;
                    font-weight: 500;
                    font-size: larger;
                }
        
        }
    }   

}

// Tablette

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    header img {
    width: 300px;
    }

    .fonctionnement {
        &__etapes {
            display: flex;
            flex-direction: column;
            .fonctionnement__etape {
                width: 40%;
                margin: 0 auto 30px auto;
            }
        }
    }

    .container__menu {
        .menu {
            &__title {
                width: 70%;
            }
            &__cards-block {
                width: 70%;
            }
            &__btn-order {
                left: 300px;
            }
        }
    }

}

// Smartphones

@media (max-width: 767px) {

    .header {
        &__logo img {
            width: 200px;
        }
        &__form {
            height: 50px;
            border: none;
            background-color: #eaeaea;
                .fa-map-marker-alt {
                    border: none;
                    background-color: #eaeaea;
                    font-size: medium;
                }
                input {
                    font-size: large;
                    width: 170px;
                    background-color: #eaeaea;
                    border: none;
                }
                .header__form-btn {
                    display: none;
                    border: none;
                    background-color: #eaeaea;
                }
        }
    }

    .header__explore {
        h1 {
            font-size: x-large;
        }
        .header__btn-explore span {
            font-size: medium;
        }
    } 

    .fonctionnement {
        &__title {
            margin-left: 25px;
            font-size: x-large;
        }
        &__etapes {
            display: flex;
            flex-direction: column;
            .fonctionnement__etape {
                width: 85%;
                margin: 0 auto 30px auto;
            }
        }
    }
    .restaurants {
        &__title {
            margin-left: 25px;
            font-size: x-large;
        }
        &__cards-block {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;
            padding-left: 25px;
            margin: 0 auto;
                &__card {
                    display: block;
                    width: 325px;
                        &__card img {
                            width: 100%;
                            height: 175px;
                        }
                }
        }
    }

    .footer {
        h3 {
        text-align: left;
        padding-left: 35px;
        font-size: medium;

            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                li {
                    font-size: smaller;
                        i {
                        margin-left: 2px;
                        }
                }
            }
        }

    }

    // Menus 

    .header__btn-home {
        font-size: larger;
        position: absolute;
        top: 30px;
        left: 20px;
    }

    .container__menu { 
        .menu {
            h1 {
                font-size: 1.7em;
                margin-left: 17px;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: left;
            }
            h2 {
                font-size: large;
                font-weight: 350;
                width: 12%;
                padding-bottom: 5px;
                margin-left: 17px;
            }
            &__cards-block {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 15px;
                padding-bottom: 25px;
                    .menu__card {
                        display: block;
                        width: 330px;
                        height: 65px;
                        margin: 0 auto;
                        padding-left: 14px;
                        padding-top: 1px;
                        position: relative;
                            h3 {
                                font-size: 105%;
                            }
                            p {
                                font-size: 92%;
                                font-weight: 300;
                                    span {
                                        font-weight: bold;
                                        position: absolute;
                                        right: 25px;
                                    }
                            }
                    }
            }
            &__btn-order {
                width: 180px;
                height: 45px;
                margin-left: 90px;
                    span {
                        font-weight: 500;
                        font-size: large;
                    }
            }
        }

    }

}