// Bouton "Explorer nos restaurants"

.header__btn-explore {
    border: solid 1px rgb(174, 172, 172);
    border-radius: 28px;
    width: 240px;
    height: 55px;
    box-shadow: 0px 2px 8px #a9a6a6;
    cursor: pointer;
        &:hover {
            background-image: linear-gradient(to bottom, lighten($colour-secondary,5%), lighten($colour-primary,5%));
            transform:scale(1.05);
            text-size-adjust: auto;
            transition: 0.3s;
            box-shadow: 0px 2px 8px #848282;
        }
        span {
            color: white;
            font-weight: 500;
            font-size: large;
        }
}

// Bouton retour à l'accueil sur les menus

.header__btn-home {
    color: #353535;
    font-size: x-large;
    text-decoration: none;
    position: absolute;
    top: 40px;
    left: 150px;
}

// Bouton "Commander"

.menu__btn {
    display: flex;
    justify-content: center;
    .menu__btn-order {
        border: solid 1px rgb(174, 172, 172);
        border-radius: 28px;
        width: 210px;
        height: 60px;
        box-shadow: 0px 2px 8px #a09e9e;
        margin-top: 40px;
        margin-bottom: -20px;
        @include btn-gradient;
        cursor: pointer;
            &:hover {
                background-image: linear-gradient(to bottom, lighten($colour-secondary,5%), lighten($colour-primary,5%));
                transform:scale(1.05);
                text-size-adjust: auto;
                transition: 0.3s;
                box-shadow: 0px 2px 8px #848282;
            }
    }
}

// Responsive smartphones

@media (max-width: 767px) {
    .menu__btn-order {
        width: 180px;
        height: 45px;
    }

    .header__btn-home {
        position: absolute;
        top: 30px;
        left: 20px;
    }
}